html {
	width: 100%;
	height: 100%;
}

body {
	background: #ffffff;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: Georgia;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.footer {
	height: 65px;
	margin-top: -65px;
	position: relative;
}

.empty {
	height: 65px;
}

ul {
	padding: 0;
	margin: 0;
}	

li {
	list-style: none;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

									/*------- header -------*/

.container_top {
	background: #B92D1E;
}

.header_top {
	width: 960px;
	height: 51px;
	margin: 0 auto;
}

.header_top:after, .header_top:before {
		display: table;
		content: "";
	}

.header_top:after {
	clear: both;
}

.header_menu_user {
	float: left;
}

.header_search {
	float: right;
	top: 50%;
	margin-top: -12.5;
}

.search {
	position: relative;
}

.search_input {
	padding: 5.5px 33px 4.5px 15px;
	background: #ffffff;
	border: 0 none;
	border-radius: 50px;
	color: #323232;
	outline: none;
	width: 210px;
}

.search_submit {
	background: url('img/icons/zoom.png') 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	border: none;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -2px;
	padding: 0;
	outline: none;
	cursor: pointer;
}

.search_form {
	padding-top: 13px;
}

									/*------- menu -------*/

.menu_item {
	display: inline-block;
}

.menu {
	text-align: justify;
}

.menu:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.menu_link {
	display: block;
	padding-top: 16px;
}

.menu_link-text {
	color: #ffffff;
	font-size: 12px;
}

								/*------- logo_&_social_menu -------*/

.header_mid {
	width: 960px;
	height: 135px;
	margin: 0 auto;
}

.header_mid:after .header_mid:before {
	display: table;
	content: "";
}

.header_mid:after {
	clear: both;
}

.header_logo {
	float: left;
	position: absolute;
	margin-top: 40px;
}

.logo_site {
	font-size: 36px;
}

.logo_site:first-letter {
	font-size: 46px;
}

.logo {
	color: #000000;
}

.header_menu_social {
	float: right;
	margin-top: 62px;
}

.social_item {
	display: inline-block;
	margin-left: 7px;
}

.social_link {
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
	border-radius: 50%;
}

.linkedin {
	background: url(img/icons/linkedin.png);
}

.linkedin:hover {
	background: url(img/icons/linkedin_h.png);
}

.twitter {
	background: url(img/icons/twitter.png);
}
.twitter:hover {
	background: url(img/icons/twitter_h.png);
}

.pinterest {
	background: url(img/icons/pinterest.png);
}

.pinterest:hover {
	background: url(img/icons/pinterest_h.png);
}

.google {
	background: url(img/icons/google.png);
}

.google:hover {
	background: url(img/icons/google_h.png);
}

.rss {
	background: url(img/icons/rss.png);
}

.rss:hover {
	background: url(img/icons/rss_h.png);
}

								/*------- navigation -------*/

.header_bot {
	width: 960px;
	margin: 0 auto;
}

.navigation_item {
	display: inline-block;
}