html {
	width: 100%;
	height: 100%;
}

body {
	background: #cfcfcf;
	width: 100%;
	height: 100%;
	font-family: Georgia;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	font-size: 0;
}	

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

							/*______header______*/

.top_line {
	background: #8849A2;
	height: 10px;
}

.wrapper_header {
	background: #ffffff;
	height: 120px;
}

.wrapper_header:after {
	clear: both;
}

							/*______header_logo______*/

.header_logo {
	float: left;
	margin-left: 30px;
	margin-top: 32.5px;
}

.logo {
	display: inline-block;
	color: #666666;
	font-size: 26px;
	line-height: 1;
}

.logo:first-letter {
	font-size: 36px;
}

.logo_expression {
	color: #999999;
	font-size: 12px;
	line-height: 1;
}

							/*______header_search______*/

.header_search {
	float: right;
	margin-right: 30px;
}

.search {
	position: relative;
}

.search_input {
	background: #EAEAE9;
	border: 0 none;
	width: 208px;
	height: 28px;
	border-radius: 0 0 10px 10px;
	outline: none;
	padding-left: 8px;
}

.search_submit {
	background: url('img/icons/loupe.png') 0 0 no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	border: none;
	padding: 0;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 6px;
}

							/*______header_navigation______*/

.header_navigation {
	float: right;
	margin-top: 24.5px;
}

.navigation_item {
	display: inline-block;
	margin-right: 30px;
}

.navigation_link {
	display: block;
	color: #666666;
	font-size: 12px;
	text-decoration: none;
}

.navigation_link:hover {
	color: #000000;
}

							/*______content_quote______*/

.content_quote {
	background: #EAEAE9;
	height: 100px;
	overflow: hidden;
}

.quote {
	color: #333333;
	font-size: 22px;
	font-style: italic;
	text-align: center;
	margin-left: 60px;
	margin-right: 60px;
	line-height: 1.5;
}

							/*______content_slide_caption______*/

.slide_caption {
	height: 380px;
	position: relative;
}

.slide_picture {
	height: 380px;
}

.slide_img {
	width: 960px;
	height: 380px;
	border: none;
}

.slide_button_left {
	position: absolute;
	left: 30px;
	top: 165px;
}

.slide_button_right {
	position: absolute;
	right: 30px;
	top: 165px;
}

.button_left {
	background: url('img/icons_content/arrow_left.png') 0 0 no-repeat;
	width: 50px;
	height: 50px;
	display: block;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.button_right {
	background: url('img/icons_content/arrow_right.png') 0 0 no-repeat;
	width: 50px;
	height: 50px;
	display: block;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.slide_caption_info {
	width: 450px;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	bottom: 0;
}

.title_slide_info {
	color: #c1c1c1;
	font-size: 20px;
	margin-left: 15px;
	line-height: 1.2;
}

.slide_info {
	color: #bfbfbf;
	font-size: 13px;
	text-align: left;
	margin-left: 15px;
	line-height: 1.8;
}

.slide_button_navigation {
	position: absolute;
	left: 30px;
	bottom: 30px;
}

.slide_item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #656565;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
}

.slide_item:first-child {
	margin-left: 0;
}

.slide_item:hover {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #656565;
	box-sizing: border-box;
}

							/*______content_category_flowers______*/

.category_flowers {
	height: 250px;
	background: #ffffff;
}

.category_flowers_wrapper {
	width: 280px;
	float: left;
	margin-left: 30px;
	margin-top: 45px;
}

.category_icon {
	float: left;
}

.icon {
	width: 48px;
	height: 48px;
	border: none;
}

.category_title {
	margin-left: 70px;
	overflow: hidden;
}

.flower_title {
	font-size: 20px;
	color: #884AA3;
	line-height: 1.2;
	margin: 0;
}

.category_info {
	margin-left: 70px;
	margin-top: 20px;
}

.flower_info {
	font-size: 13px;
	color: #666666;
	text-align: left;
	line-height: 1.6;
}

							/*______content_info_flowers______*/

.info_flowers {
	height: 420px;
	background: #EAEAE9;
}

.info_flowers_wrapper {
	width: 280px;
	height: 320px;
	background: #ffffff;
	float: left;
	margin-top: 50px;
	margin-left: 30px;
}

.img_info_flower {
	margin-top: 10px;
	margin-left: 10px;
}

.picture_flower {
	width: 260px;
	height: 180px;
	border: none;
}

.flower_name {
	font-size: 16px;
	color: #884AA3;
	text-align: center;
}

.flower_information {
	margin: 0 10px;
}

.information {
	font-size: 13px;
	color: #666666;
	text-align: center;
	line-height: 1.6;
}

							/*______content_info_site______*/

.info_site {
	height: 250px;
	background: #ffffff;
}

.containers {
	width: 210px;
	float: left;
	margin-left: 20px;
}

.containers:first-child {
	margin-left: 30px;
}

.containers:last-child {
	margin-right: 30px;
}

.info_site_title {
	font-size: 13px;
	color: #666666;
	line-height: 1.2;
	margin-top: 40px;
	margin-bottom: 30px;
}

.contact {
	font-size: 12px;
	color: #999999;
	line-height: 1.8;
}

.q_link {
	display: block;
	color: #999999;
	font-size: 12px;
	line-height: 1.2;
	text-decoration: none;
	margin-top: 8px;
	margin-bottom: 8px;
}

.blog_info {
	position: relative;
}

.mini_title {
	font-size: 13px;
	color: #999999;
	font-weight: bold;
	margin: 0;
}

.who_post {
	font-size: 11px;
	color: #999999;
	margin: 5px 0;
	line-height: 1.6;
}

.blog {
	font-size: 12px;
	color: #999999;
	margin: 0;
	line-height: 1.8;
}

.blog_link {
	font-size: 12px;
	color: #864C9F;
	position: absolute;
	right: 0;
}

.field {
	width: 210px;
	height: 31px;
	border: none;
	border-radius: 5px;
	background: #E5E5E5;
	padding-left: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 13px;
	color: #999999;
	outline: none;
}

.button {
	width: 80px;
	height: 31px;
	border: none;
	border-radius: 5px;
	background: #E5E5E5;
	font-size: 13px;
	font-weight: bold;
	color: #864C9F;
	outline: none;
	cursor: pointer;
}

							/*______footer______*/

.footer {
	width: 960px;
	height: 60px;
	background: #434343;
	margin: 0 auto;
}

.footer_con {
	font-size: 12px;
	color: #D0D0D0;
	margin: 24px 0;
}

.footer_copyright {
	float: left;
	margin-left: 30px;
}

.footer_templates {
	float: right;
	margin-right: 30px;
}